.work {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  color: var(--text-primary);
  transition: all 0.3s ease-in-out;
}

.work h1 {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
}

.Home {
  margin: 0;
  display: flex;
  height: 350px;
  width: 80%;
}
.works {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.works h2 {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.works > .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a > .proImage {
  object-fit: contain;
  height: 200px;
  width: 200px;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

a > .proImage:hover {
  box-shadow: 0 1px 15px var(--text-primary), 0 1px 2px var(--paradiv);
}

@media screen and (max-width: 767px) {
  .works {
    grid-template-columns: 1fr;
  }
}

.container {
  width: 150px;
  height: 150px;
  display: grid;
  overflow: hidden;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.item {
  background: white;
  border-radius: 100%;
}
